*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.flex-container{
    display: flex;
}

header{
    background-color: #FF6900;
    box-shadow: 0 1px 2px black;
    position: fixed;
}

.header{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.logo{
    height: 50px;
    padding: 15px 0;
}

.category, .user{
    line-height: 54px;
}