*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.flex-container{
    display: flex;
}

/* header */
header{
    background-color: #FF6900;
    box-shadow: 0 1px 2px black;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.header{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.logo{
    height: 50px;
    padding: 15px 0;
    margin-top: 4px;
}

.category, .user{
    line-height: 58px;
}

.user a{
    padding-left: 5px;
}

/* main */
main{
    padding: 100px 0;
    width: 80%;
    margin: 0 auto;
}

.row{
    justify-content: space-between;
}

.card{
    width: 500px;
    margin-bottom: 50px;
    position: relative;
}

.card img{
    width: 100%;
}

.heart *{
    color: black;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px;
    background-color: white;
}

.tag{
    position: absolute;
    top: 600px;
}

.tag div{
    display: inline-block;
}

.discount{
    padding: 5px 10px;
    background-color: red;
}

.sustainability{
    padding: 5px 10px;
    background-color: green;
}

.bot-card div{
    color: black;
}

.brand{
    font-size: 12px;
}

.description{
    font-weight: bold;
}

.prices{
    display: inline-block;
    font-size: 14px;
}

.after.prices{
    color: red;
}

.before{
    text-decoration: line-through;
}